transformers>=5.7.0
cryptography>=46.0.5
pillow>=12.2.0
weaviate-client>=4.21.0
python-dotenv>=1.2.2
huggingface_hub[hf_xet]>=1.13.0
fastapi>=0.136.1
uvicorn>=0.46.0
python-multipart>=0.0.28
flickrapi>=2.4.0
tqdm>=4.67.3